html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

header{
	background-color:#09792a;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	background-color: rgb(96, 221, 240);
}

.body__nav{
background-color: rgb(62, 100, 145);
}

.header__logotipe{
	border: 2px solid;

	text-align: center;
}

.header__deviz{
	text-align: center;
}

button{
	background-color: rgb(107, 187, 219);
	border-radius: 10px;
}

.button__nav__left{
	float: left;
	margin-left: 5px;;
}

.button__nav__right{
	float: right;
	margin-right: 5px;
}

.main{
	padding-top: 0%;
	width: 90%;
	background-color: rgb(183, 223, 235);
	margin: 0 auto;
	box-sizing: border-box;
	flex: 1 1 auto;
}

.main__text{
	float: left;
	width: 50%;
}

.main__img{
	float: right;
	padding-top: 50px;
}

.footer{
 background-color: #265f37;
right: 0;
bottom: 0;
text-align: center;
 color: #fafaff; 
}
